website/** linguist-generated
**/vendor/**/**/**/** linguist-vendored
apps/test-coverage/** linguist-generated
apps/website linguist-generated
apps/cli-rustdoc linguist-generated
apps/jsdoc linguist-generated
*.html linguist-documentation
**/lib/ linguist-vendored
.agents/skills linguist-vendored