# Telemetry API Configuration

# GitHub credentials for storing telemetry data
GITHUB_TOKEN=ghp_xxxxxxxxxxxxxxxxxxxx
GITHUB_OWNER=oopsio
GITHUB_REPO=jenjs-telemetry

# Disable telemetry collection
# TELEMETRY_DISABLED=1

# Development
NODE_ENV=development
PORT=3000
DEBUG_TELEMETRY=1
